acres==0.5.0
aiofiles==24.1.0
anyio==4.9.0
appnope==0.1.4
asttokens==3.0.0
attrs==18.2.0
beautifulsoup4==4.13.4
blinker==1.9.0
bs4==0.0.2
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
ci-info==0.3.0
clarabel==0.11.1
click==8.2.1
cloudpickle==3.1.1
comm==0.2.2
configobj==5.0.9
configparser==7.2.0
contourpy==1.3.2
cryptography==45.0.5
cvxpy==1.6.6
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
etelemetry==0.3.1
executing==2.2.0
fake-useragent==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
fitz==0.0.1.dev2
Flask==3.0.3
fonttools==4.58.4
frontend==0.0.3
fsspec==2025.5.1
googletrans==4.0.2
h11==0.16.0
h2==4.2.0
hf-xet==1.1.5
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.33.3
hyperframe==6.1.0
idna==3.10
imbalanced-learn==0.13.0
imblearn==0.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
llvmlite==0.44.0
looseversion==1.3.0
lxml==6.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mpmath==1.3.0
narwhals==1.45.0
nbformat==5.10.4
nepse @ git+https://github.com/basic-bgnr/NepseUnofficialApi@1565b0f83cfd9a1be9fb4a0cf730e8e3102fc122
nest-asyncio==1.6.0
networkx==3.5
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
numba==0.61.2
numpy==2.2.6
osqp==1.0.4
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.0
parso==0.8.4
pathlib==1.0.1
pdf2image==1.17.0
pdflatex==0.1.3
pdfminer.six==20250506
pdfplumber==0.11.7
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.8
plotly==6.2.0
prompt_toolkit==3.0.51
prov==2.1.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.30
pycparser==2.22
pydot==4.0.1
Pygments==2.19.1
pyparsing==3.2.3
pypdfium2==4.30.1
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytz==2025.2
pywasm==1.2.2
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==27.0.0
rdflib==7.1.4
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rpds-py==0.26.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
scs==3.2.7.post2
seaborn==0.13.2
selenium==4.33.0
setuptools==80.9.0
shap==0.48.0
simplejson==3.20.1
six==1.17.0
sklearn-compat==0.1.3
slicer==0.0.8
smote==0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
stack-data==0.6.3
starlette==0.47.1
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.21.2
torch==2.7.1
tornado==6.5.1
tqdm==4.66.5
traitlets==5.14.3
traits==7.0.2
transformers==4.53.1
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.35.0
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wsproto==1.2.0
